<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.example.vikash.cwp3">
<application>
    <activity android:name=".ImgActivity">
        <intent-filter >
            <action android:name="android.intent.action.MAIN"/>
            <category android:name="android.intent.category.LAUNCHER"/>
        </intent-filter>
    </activity>
    </application>
</manifest>
